<!DOCTYPE html>
<html>
    <head>
        <div>
            <h2 id="title">  Fit Check  </h2>
        </div>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
            

    </head>
    <body>
        <div id="main_container">
            <div>
                Rating
            </div>
            <video class="video" id="myVidPlayer" muted></video>
            <canvas class="video" id="myCanvas"></canvas>
            <div>
                Color
            </div>
        </div>
        
        

        <button onclick="snapshot()" >Snapshot</button>
        <button onclick="retake()" >retake</button>



        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/home.js') }}"></script>


    </body>




    
</html>