<!DOCTYPE html>
<html>
    <head>
        <div>
            <h1 id="title">  Fit Check  </h2>
        </div>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">    
    </head>

    </head>
    <body>
        <div id="main_container">
            <h3 class="sideBox">
                Rating
            </h3>
            </div>
                <video class="video" id="myVidPlayer" muted></video>
                <canvas class="video" id="myCanvas"></canvas>
            <div>
            <h3 class="sideBox">    
                Color
            </h3>
        </div>
        
        

        <button onclick="snapshot()" >Snapshot</button>
        <button onclick="retake()" >retake</button>



        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/home.js') }}"></script>


    </body>




    
</html>